<!doctype html>
<html lang="en">

<head>
    
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Toyise's - Personal Portfolio & CV</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">


    <link rel="stylesheet" href="assets/css/snack_it.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="index2.css">


</head>

<body>
  
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER ENDS START ======-->

    <!--====== HEADER PART START ======-->
 
    <header id="home" class="header-area">
        <%- include('../partials/header'); %>
<nav>   </nav>
      
        <div id="parallax" class="header-content d-flex align-items-center">

            <div class="header-shape shape-one layer" data-depth="0.10">
                <img src="assets/images/banner/shape/shape-1.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-tow layer" data-depth="0.30">
                <img src="assets/images/banner/shape/shape-2.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-three layer" data-depth="0.40">
                <img src="assets/images/banner/shape/shape-3.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-fore layer" data-depth="0.60">
                <img src="assets/images/banner/shape/shape-2.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-five layer" data-depth="0.20">
                <img src="assets/images/banner/shape/shape-1.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-six layer" data-depth="0.15">
                <img src="assets/images/banner/shape/shape-4.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-seven layer" data-depth="0.50">
                <img src="assets/images/banner/shape/shape-5.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-eight layer" data-depth="0.40">
                <img src="assets/images/banner/shape/shape-3.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-nine layer" data-depth="0.20">
                <img src="assets/images/banner/shape/shape-6.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="header-shape shape-ten layer" data-depth="0.30">
                <img src="assets/images/banner/shape/shape-3.png" alt="Shape">
            </div> <!-- header shape -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="header-content-right">
                            <h4 class="sub-title">Hello, I’m</h4>
                            <h1 class="title">Lateef Gbewa Toyise</h1>
                            <p>A Software & Bot Engineer</p>
                            <a class="main-btn" href="#work">View my Work</a>
                        </div> <!-- header content right -->
                    </div>
                    <div class="col-lg-6 offset-xl-1">
                        <div class="header-image d-none d-lg-block">
                            <img src="assets/images/banner/hero.png" alt="hero">
                        </div> <!-- header image -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-social">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-social-icon">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/lateef-toyise-7437ab159"><i class="lni-linkedin-original"></i></a></li>
                                   
                                    <li><a href="https://github.com/toyiselateef"><i class="lni-github-original"></i></a></li>
                                    <li><a href="https://stackoverflow.com/users/13786302/toyise-py?tab=profile"><i class="lni-stackoverflow"></i></a></li>
                                     <li><a href="https://www.facebook.com/toyise"><i class="lni-facebook-filled"></i></a></li>
                                </ul>
                            </div> <!-- header social -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- header social -->
        </div> <!-- header content -->
    </header>

    <!--====== HEADER PART ENDS ======-->



<!-- <div class=“body-content”></div>
<div class=“dialog”></div> -->


    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="title">About Me</h2>
                        <p>A professional Software and Bot Engineer with <time id="date-time2"></time>+ years experience using .NET, NODEJS, Azure Services, SQL.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50">
                        <h5 class="about-title">Hi There! I'm Lateef Gbewa Toyise</h5>
                        <p> I am a Software and Bot Engineer with <time id="date-time2"></time>+ years of experience working for foreign clients world over.

                            I double majored in Mathematics at the University of Ilorin with a concentration in programming. I later followed with a Professional Certification in Banking by Chattered Institute of Banker of Nigeria (CIBN).
                            
                            I've worked as a programmer for almost 4 years and have worked with some of the largest Financial Institution in Nigeria as well as other agencies in the country. <p>I have a lot of experience building: Web Application with Asp.Net Core, Chat and Transactional bots with various NLP and backend/Web integration etc, using C#, Javascript as well as many other platforms and coding languages.</p></p>
                        <ul class="clearfix">
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-calendar"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>Date of birth:</span> 12th January</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>Email:</span> ToyiseLateef2@gmail.com</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-phone-handset"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>Phone:</span> +2347061331241</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-map-marker"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>Location:</span> Lagos NG</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                    </div> <!-- about content -->




                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="about-skills pt-25">
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">.NET</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">80</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="80"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">MICROSERVICES</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">75</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="75"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">NODEJS</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">75</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="75"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">BOT > CHAT & TRANSACTIONAL BOT</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">80</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="80"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                       
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">DATABASES > SQL, NOSQL</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">85</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="85"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">CONTAINERS > DOCKER, KUBERNETES</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">80</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="80"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">VCS > AZURE DEVOPS, GITHUB</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">100</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="100"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title">CI/CD</h6>
                                <div class="skill-percentage">
                                    <div class="count-box counted">
                                        <span class="counter">50</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="50"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        
                    </div> <!-- about skills -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    <section  id="service" class="services-area gray-bg pt-125 pb-130">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">My Services</h2>
                        <p>Here is a brief look of services and projects I can help you with...</p>
                    </div> <!-- section title -->
                </div>
                <!-- <button aria-label="Open Navigation" class="open-dialog"> press here</button> -->
                
            </div> <!-- row -->
            <div class="row justify-content-center">
                
                
                <div class="dialog single-service" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">
                    <div class="modal__header">
                        <div class="col-sm-12">
                            <h5 id="mydynHeader" class="service-title"></h5>
                        </div>
                    
                    <button aria-label="Close modal" class="modal__close close-dialog">
                      <p>&times;</p>
                    </button>
                </div>
                    <p id="dialog-description" class="sr-only">Description goes here</p>
                    <nav style="margin-top: 20px;">
                        <ul id="mydynInnerHTML">
                            <div id="result"></div>

                        </ul>
                        
                    </nav>
                    <!-- <button type="button" aria-label="Close Navigation" class="close-dialog"> <i class="fa fa-times"></i> </button> -->
                </div>


                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-code-alt"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><button id="button_A" aria-label="Open Navigation" class="btn open-dialog" >Web Development</button></h4>
                           
                    <!-- <button class="btn open-modal">Open modal</button> -->
                       <p>Development of Responsive and Progressive Web Applications and Sites with enhanced/top security and Great Back-end...</p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-android-original"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><button id="button_B" aria-label="Open Navigation" class="btn open-dialog" >AI Bots</button></h4>
                            <p>Development highly scalabe Artificial Intelligence powered Transactional chatbot with enhanced security made available on various platforms</p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-mobile"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><button id="button_C" aria-label="Open Navigation" class="btn open-dialog" >System Design</button></h4>
                            <p> High quality system design with a systematic approach to the design using top-down approach Ensuring related variables are taken into account...</p>
                        </div>
                    </div>. <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-vector"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><button id="button_D" aria-label="Open Navigation" class="btn open-dialog">Data Engineering</button></h4>
                            <p>Efficient Analytical Solutions|Systems aimed at ensuring high quality & availability of your organization's data for improved business decisions and plans... </p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-color-pallet"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><button id="button_E"aria-label="Open Navigation" class="btn open-dialog">App Design</button></h4>
                            <p>Application design entailing high quality User interface (UI) design as well as more engaging user experience to your suit your business needs...</p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-support"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><button id="button_F" aria-label="Open Navigation" class="btn open-dialog">Consultancy & Support</button></h4>
                            <p>IT Services for your needs, ensuring your IT needs & related issues stay resolved. I can take out your stress of monitoring and security...</p>
                        </div>
                    </div> <!-- single service -->
                </div>
            </div> <!-- row -->
            
        </div> <!-- container -->
       

      

    </section>

    <!--====== SERVICES PART ENDS ======-->

    <!--====== CALL TO ACTION PART START ======-->

    <section id="call-to-action" class="call-to-action pt-125 pb-130 bg_cover" style="background-image: url(assets/images/call-to-action.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="call-action-content text-center">
                        <h2 class="action-title">Have any project on mind?</h2>
                        <p>What are your plans. What do you think of my services. Would you like to engage me or find more about me..?</p>
                        <ul>
                            <li><a class="main-btn custom" href="/mycv" target="_blank">download cv</a></li>
                            <li><a class="main-btn custom-2" href="/HireMe">hire me</a></li>
                        </ul>
                    </div> <!-- call action content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CALL TO ACTION PART ENDS ======-->

    <!--====== WORK PART START ======-->

    <section id="work" class="work-area pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">My Recent Works</h2>
                        <p>These collection is a quick preview of my recent works and projects reflecting my great passion for customer and enthusiasm for delivering efficient solutions.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <div class="row">
                <% posts.forEach((post) => { %>
                              
            
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img src="uploads/<%= post.img.filename %>" alt="work">
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 class="work-title"><%= post.name %></h3>
                                <ul>
                                    <li><a class="image-popup" href="uploads/<%= post.img.filename %>"><i class="lni-plus"></i></a></li>
                                    <li><a href="<%= post.link %>"><i class="lni-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- single work -->
                    
                </div> 
             <% })  %>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="work-more text-center mt-50">
                        <a class="main-btn" href="#">more works</a>
                    </div> <!-- work more -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== WORK PART ENDS ======-->

    <!--====== PRICING PART START ======-->

   
    <!--====== PRICING PART ENDS ======-->

    <!--====== BLOG PART START ======-->

    <section id="blog" class="blog-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">From The Blog</h2>
                        <p>Posts from my social media profile.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-9">
                    <div class="single-blog mt-30">
                        <div class="blog-image">
                            <img src="assets/images/blog/b-1.jpg" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="#">Hired Releases 2023 Brand Health.</a></h4>
                            <span>July 26, 2022</span>
                        </div>
                    </div> <!-- single blog -->
                </div>
                <div class="col-lg-4 col-md-8 col-sm-9">
                    <div class="single-blog mt-30">
                        <div class="blog-image">
                            <img src="assets/images/blog/b-2.jpg" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="#">Hired Releases 2023 Brand Health.</a></h4>
                            <span>July 26, 2022</span>
                        </div>
                    </div> <!-- single blog -->
                </div>
                <div class="col-lg-4 col-md-8 col-sm-9">
                    <div class="single-blog mt-30">
                        <div class="blog-image">
                            <img src="assets/images/blog/b-3.jpg" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="#">Hired Releases 2023 Brand Health.</a></h4>
                            <span>July 26, 2022</span>
                        </div>
                    </div> <!-- single blog -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-more text-center mt-50">
                        <a class="main-btn" href="/Blog">More posts</a>
                    </div> <!-- blog more -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== BLOG PART ENDS ======-->

    <!--====== CONTACT PART START ======-->

    <section id="contact" class="contact-area pt-125 pb-130 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Get In Touch</h2>
                        <p>Come lets achieve your goal together.<p>Try Me!</p></p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-map-marker"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Address</h6>
                            <p>Lagos, Nigeria</p>
                        </div>
                    </div> <!-- contact box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-phone"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Phone</h6>
                            <p>+2347061331241</p>
                            
                        </div>
                    </div> <!-- contact box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-envelope"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Email</h6>
                            <p>ToyiseLateef2@gmail.com</p>
                        </div>
                    </div> <!-- contact box -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div id='contact_form' class="contact-form pt-30">
                        <form id="contact-form" method="post" action="/contact">
                            <div class="single-form">
                                <input type="text" id="name" name="name" placeholder="Your Name">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <input type="email" id="email" name="email" placeholder="Your Email">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div> <!-- single form -->
                            <p class="form-message"></p>
                            <div class="single-form">
                                <button class="main-btn"  type="submit">Send Message</button>
                            </div> <!-- single form -->
                        </form>
                    </div> <!-- contact form -->
                </div>
                <div class="col-lg-6">
                    <div class="contact-map mt-60">
                        <div class="gmap_canvas">                            
                            <iframe id="gmap_canvas" <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.2446029563268!2d3.1677356578437497!3d6.459532664015062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwMjcnMzQuMyJOIDPCsDEwJzA3LjgiRQ!5e0!3m2!1sen!2sng!4v1633690179452!5m2!1sen!2sng" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div> <!-- contact map -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CONTACT PART ENDS ======-->
    


    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer-area">
        <div class="footer-widget pt-130 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            <a href="index.html">
                                <img src="assets/images/logo-2.png" style="height:80px;width:100px" alt="Logo">
                            </a>
                            <p class="mt-">This website is powered by Truly Ambitious Software Solutions Inc.</p>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/truly-ambitious-inc-40353122b/"><i class="lni-linkedin-original"></i></a></li>
                            
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC1cWRvmZLbQirUOc1CyLk3g"><i class="lni-youtube"></i></a></li>
                                <li><a href="https://www.facebook.com/in/toyise/"><i class="lni-facebook-filled"></i></a></li>
                                
                            </ul>
                        </div> <!-- footer content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20">
                           
                            <p >Copyright ©<time id="date-time1"></time>. Template Crafted by <a href="https://www.linkedin.com/lateef-toyise-7437ab159" rel="nofollow">Toyise</a></p>
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>

    <%if(locals.messages) {%>
        
        <div class="show alert alert-<%=messages.type%>"  id="snackbar"><%= messages.message%></div>
        
      <% }%>

    <!--====== FOOTER PART ENDS ======-->
    <div class="dialog-overlay" tabindex="-1"></div>

    <script src="index2.js"></script>
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
 
<script> 
        var x = document.getElementById("snackbar");
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 4000);
        var year= new Date().getFullYear();
        var startYear = 2017;
        document.getElementById('date-time1').innerHTML=year;
        let object= document.querySelectorAll('#date-time2');
        for (key in object) {
            object[key].textContent=year-startYear;

}
       

                const buttonA = document.querySelector('#button_A');
                const buttonB = document.querySelector('#button_B');
                const buttonC = document.querySelector('#button_C');
                const buttonD = document.querySelector('#button_D');
                const buttonE = document.querySelector('#button_E');
                const buttonF = document.querySelector('#button_F');
const headingA = document.querySelector('#mydynHeader');
const innerHTMLA = document.querySelector('#result');

buttonA.onclick = () => {
    //headingA.innerHTML = ""
  headingA.textContent = '<%=services[0].title%>';
  innerHTMLA.innerHTML = '<%-services[0].body%>';
}
  buttonB.onclick = () => {
   // headingA.innerHTML = ""
  headingA.textContent = '<%=services[1].title%>';
  innerHTMLA.innerHTML = '<%-services[1].body%>';
}
  buttonC.onclick = () => {
    //headingA.innerHTML = ""
  headingA.textContent = '<%=services[2].title%>';
  innerHTMLA.innerHTML = '<%-services[2].body%>';
}
  buttonD.onclick = () => {
    headingA.textContent = '<%=services[3].title%>';
  innerHTMLA.innerHTML = '<%-services[3].body%>';
   // headingA.innerHTML = ""
 
  }
  buttonE.onclick = () => {
    headingA.textContent = '<%=services[4].title%>';
  innerHTMLA.innerHTML = '<%-services[4].body%>';
   // headingA.innerHTML = ""
 
}
  buttonF.onclick = () => {
   // headingA.innerHTML = ""
   headingA.textContent = '<%=services[5].title%>';
  innerHTMLA.innerHTML = '<%-services[5].body%>';
}

    	var navDialogEl = document.querySelector('.dialog');
		var dialogOverlay = document.querySelector('.dialog-overlay');
		var headerE1 = document.querySelector('.fixed-top');
        
		
		var myDialog = new Dialog(navDialogEl, dialogOverlay,headerE1);
		myDialog.addEventListeners('.open-dialog', '.close-dialog');
        </script>

    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Parallax js ======-->
    <script src="assets/js/parallax.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>


    <!--====== Appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>


    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>

